.row
  .col-md-4.col-md-offset-4

    %h1
      Reset Password

    = form_for :password_reset,
      url: user_password_path(@user, token: @user.confirmation_token),
      html: { method: :put } do |form|

      .form-group
        = form.label :password
        = form.password_field :password, class: 'form-control',
          placeholder: 'New password'

      = form.submit 'Update password', class: 'btn btn-primary'
