.row
  .col-md-4.col-md-offset-4

    %h1
      Password Reset

    %p
      Please enter your email address. We will send you instructions on how
      to reset your password.

    = form_for :password, url: passwords_path do |form|
      .form-group
        = form.label :email
        = form.email_field :email, class: 'form-control',
          placeholder: 'Email address'

      = form.submit 'Request instructions', class: 'btn btn-primary'
