%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    = link_to edit_user_path(current_user), data: { toggle: 'dropdown' } do
      Hello,
      = current_user
      %span.caret

    %ul.dropdown-menu
      %li= link_to 'Edit profile', edit_user_path(current_user)
      %li.divider
      %li= link_to 'Sign out', sign_out_path, method: :delete, class: 'navbar-logout'
