# See https://git-scm.com/docs/gitignore#_pattern_format

config/database.yml
db/schema.rb
db/structure.sql
/log/*
/node_modules
/public/assets
/public/packs*
/public/system
/public/storage
/public/uploads
/storage
/tmp/*

/.idea
.byebug_history
.DS_Store
capybara-*.html
rerun.txt
yarn-error.log

*~
*#*
.#*
.~lock.*
.*.swp
