%ul.nav.navbar-nav
<% navigation.links.each do |label, path| -%>
  %li(up-expand)
    = content_link_to <%= label.titleize.inspect %>, <%= path %>
<% end -%>

  %li.dropdown
    = link_to '#', data: { toggle: 'dropdown' } do
      Dropdown example
      %span.caret

    %ul.dropdown-menu
      %li= link_to 'One', '#'
      %li.divider
      %li= link_to 'Two', '#'
